<main class="container mt-4" id="upload-image" *ngIf="!processingCompleted">

    <h3 class="text-center mb-4">Submit Images for Processing</h3>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <!-- Upload form here -->
                    <p class="card-text">Select one or more images to upload:</p>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="imageUpload" (change)="onFileSelected($event)"
                            multiple>
                    </div>
                    <button type="button" class="btn btn-primary w-100" id="submitButton" (click)="onSubmit()">Submit
                        Images</button>

                    <!-- Loading message and spinner -->
                    <div id="loadingMessage" class="text-center mt-4" [class.d-none]="!loading">
                        <div class="spinner-border text-primary mb-2" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div id="currentStepMessage" class="text-center mt-2" *ngIf="currentStep">
                            <p class="text-primary">currentStep : {{ currentStep }}</p>
                        </div>
                        <p class="text-primary">Processing images...</p>
                    </div>

                    <!-- Results table -->
                    <div id="resultsTable" class="table table-striped mt-4" [class.d-none]="loading"></div>

                    <!-- Add the DataDisplayComponent here -->

                </div>
            </div>
        </div>
    </div>
</main>


<main id="data-display" *ngIf="processingCompleted">

   <!-- <app-json-table></app-json-table> -->
   <div class="custom-invoice-table">
    <div class="custom-header d-flex">
        <div class="custom-header-item" *ngFor="let field of responseData.Documents[0].DocumentData.Fields">
                <div>{{ field.Name }}</div>
            </div>
    </div>
    <div class="custom-body">
        <div class="custom-body-item" *ngFor="let field of responseData.Documents[0].DocumentData.Fields">
                <div>{{ field.Value }}</div>
        </div>
    </div>
    
    <div class="separator"></div>


<div class="invoice-table" >   

        <div class="header d-flex" >
            <div class="header-item" *ngFor="let name of responseData.Documents[0].DocumentData.Fields[4].Rows[0].Columns">
                <div>{{name.Name}}</div>
            </div>
        </div>
        <div class="body" >
            <div class="body-item" *ngFor="let row of responseData.Documents[0].DocumentData.Fields[4].Rows">
                <div *ngFor="let column of row.Columns">{{column.Value}}</div>
            </div>
        </div>
    </div>
</div>

    

</main>