<div *ngIf="documentHeaders.length > 0">
  <h2>Document Information</h2>
  <ul>
    <li *ngFor="let header of documentHeaders">{{ header.name }}: {{ header.value }}</li>
  </ul>
</div>

<div *ngIf="invoiceTableData.length > 0">
  <h2>Invoice Table</h2>
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of invoiceTableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of invoiceTableData">
        <td *ngFor="let column of row">{{ column.Value }}</td>
      </tr>
    </tbody>
  </table>
</div>
