


<div *ngIf="documentHeaders.length > 0">
  <h2>Document Information</h2>
  <ul>
    <li *ngFor="let header of documentHeaders">{{ header.name }}: {{ header.value }}</li>
  </ul>
</div>

<div *ngIf="invoiceTableData.length > 0">
  <h2>Invoice Table</h2>
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of invoiceTableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of invoiceTableData">
        <td *ngFor="let column of row">{{ column.Value }}</td>
      </tr>
    </tbody>
  </table>
</div> 
 <ng-container *ngIf="responseData">


<div>
  <table>
      <tr *ngFor="let document of responseData.Documents">
          <td>
              <table>
                  <tr *ngFor="let field of document.DocumentData.Fields">
                      <td>{{ field.Name }}</td>
                      <td>{{ field['$type'] }}</td>
                      <td>{{ field.Value }}</td>
                  </tr>
              </table>
          </td>


      </tr>
  </table>
</div>
</ng-container> 



<div>
  <h2>Document Information</h2>
  <table>
  <tr *ngFor="let header of responseData.Documents">
    <li >{{ header.InvoiceNumber }}: {{ header.value }}</li>
    <li >{{ header.InvoiceDate }}: {{ header.value }}</li>
    <li >{{ header.DeliveryAddress }}: {{ header.value }}</li>
    <li >{{ header.TotalAmount }}: {{ header.value }}</li>
  </tr>
</table>
</div>

<div>
  <table>
      <tr *ngFor="let document of responseData.Documents">
          <td>
              <table>
                  <tr *ngFor="let field of document.DocumentData.Fields">
                      <td>{{ field.Name }}</td>
                      <td>{{ field['$type'] }}</td>
                      <td>{{ field.Value }}</td>
                  </tr>
              </table>
          </td>


      </tr>
  </table>
</div>

